#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        blht: behavior_bilateral_linger_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            enforce-bilateral;
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            linger-ms = <150>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <2>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &blht LSHIFT F &kp J
                &kp D &kp E
            >;
        };
    };
};

&kscan {
    events = <
        ZMK_MOCK_PRESS(0, 0, 250)
        ZMK_MOCK_RELEASE(0, 0, 50)
        ZMK_MOCK_PRESS(0, 0, 50)
        ZMK_MOCK_RELEASE(0, 0, 10)
    >;
};
