#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>

/ {
    behaviors {
        lht_release: behavior_linger_hold_tap_on_release {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <2>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &lht_release LSHIFT F &lht_release LCTRL J
                &kp D &mt LSHIFT E
            >;
        };
    };
};

&kscan {
    events = <
        ZMK_MOCK_PRESS(0, 0, 10)
        ZMK_MOCK_PRESS(0, 1, 10)
        ZMK_MOCK_PRESS(1, 0, 10)
        ZMK_MOCK_RELEASE(1, 0, 10)
        ZMK_MOCK_RELEASE(0, 1, 10)
        ZMK_MOCK_RELEASE(0, 0, 10)
    >;
};
